:root{
  --azul:#1B75BC;
  --celeste:#3DA5DA;
  --azul-oscuro:#233D4C;
  --gris:#444f55;
  --black:#444;
  --light-color:#777;
  --green:#16a085;
  --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
  --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
  --border:.2rem solid var(--azul);
}

.header {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  background: #fff;
}
.header .logo{
  font-size: 2.5rem;
  color:var(--azul-oscuro)
}
.header .logo i{
  padding-right:0.2rem;
  color: var(--azul);
}

.header .navbar a{
  font-size: 1.2rem;
}


