{% extends "base.html" %} {% block title %}Pacientes{% endblock %} 
{%block content %}
<section>
  <div class="messages">
      {% if messages %}
        {% for message in messages %}
          <div class="{{ message.extra_tags }}"><b>{{ message }}</b></div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <br />
  <div class="container is-fluid">
    <div class="buttons">
      <button class="button is-link modal-button" data-target="modal-patient">
        <i class="fas fa-plus" style="padding-right: 0.2rem"></i>
        Nuevo Paciente
      </button>
    </div>
  </div>

  <div class="modal" id="modal-patient">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Nuevo Paciente</p>
        <button class="delete close-modal-button" aria-label="close"></button>
      </header>
      <form id="modal-registro" action="/patient/" method="POST">
        {% csrf_token %}
        <section class="modal-card-body">
          <div class="field">
            <div class="columns">
              <div class="column">
                <label class="label">Nombre</label>
                <div class="control">
                  <input
                    class="input is-link"
                    type="text"
                    name="name"
                    id="name"
                    required
                  />
                </div>
              </div>
              <div class="column">
                <label class="label">Apellido</label>
                <div class="control">
                  <input
                    class="input is-link"
                    type="text"
                    name="lastname"
                    id="lastname"
                    required
                  />
                </div>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <label class="label">Cédula</label>
                <div class="control">
                  <input
                    class="input is-link"
                    type="text"
                    name="dni"
                    id="dni"
                    required
                  />
                </div>
              </div>

              <div class="column">
                <label class="label">Teléfono</label>
                <div class="control">
                  <input
                    class="input is-link"
                    type="text"
                    name="phone"
                    id="phone"
                    required
                  />
                </div>
              </div>
              <div class="column">
                <label class="label">Sexo</label>
                <div class="control">
                  <div class="select is-link">
                    <select name="sex" id="sex" required>
                      <option>---- Seleccione ----</option>
                      <option value="Femenino">Femenino</option>
                      <option value="Masculino">Masculino</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="columns">
              <div class="column is-two-thirds">
                <label class="label">Correo</label>
                <div class="control">
                  <input class="input is-link" type="text" name="email" id="email"
                  required />
                </div>
              </div>
              <div class="column">
                <label class="label">Fecha de nacimiento</label>
                <div class="control">
                  <input class="input is-link" type="date" name="birthdate" id="birthdate"
                  required />
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="columns">
              <div class="column">
                <label class="label">Dirección</label>
                <div class="control">
                  <input
                    class="input is-link"
                    type="text"
                    name="address"
                    id="address"
                    required
                  />
                </div>
              </div>
              <div class="column">
                <label class="label">Tipo de Sangre</label>
                <div class="control">
                  <input
                    class="input is-link"
                    type="text"
                    name="blood"
                    id="blood"
                    required
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Antecedentes Personal</label>
            <div class="control">
              <textarea
                class="textarea is-primary"
                name="antPerson"
                id="antPerson"
                required
              ></textarea>
            </div>
            <label class="label">Antecedentes Familiar</label>
            <div class="control">
              <textarea
                class="textarea is-primary"
                name="antFam"
                id="antFam"
                required
              ></textarea>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" type="submit">Guardar</button>
          <button class="button close-modal-button">Cancelar</button>
        </footer>
      </form>
    </div>
  </div>

  <section>
    <br />
    <div class="container is-max-widescreen">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Teléfono</th>
            <th>Cédula</th>
            <th>Domicilio</th>
            <th>Fecha de Nacimiento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for paciente in pacientes %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ paciente.id_persona.nombres }}</td>
            <td>{{ paciente.id_persona.apellidos }}</td>
            <td>{{ paciente.id_persona.telefono }}</td>
            <td>{{ paciente.id_persona.dni }}</td>
            <td>{{ paciente.domicilio }}</td>
            <td>{{ paciente.fecha_nacimiento }}</td>
            <td>
              <button class="button is-warning">
                <i class="fa-solid fa-eye"></i>
              </button>
              <button class="button is-info">
                <i class="fa-solid fa-pencil"></i>
              </button>
              <button class="button is-primary modal-button btn-vital" 
              data-id="{{ paciente.id }}" 
              data-cedula="{{ paciente.id_persona.dni }}" 
              data-target="modal-const-vital">
                <i class="fas fa-plus" style="padding-right: 0.2rem"></i>
                Const. Vital
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <div class="modal" id="modal-const-vital">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Constantes Vitales (<span id="nombreSeleccionado"></span>)</p>
          <button class="delete close-modal-button" aria-label="close"></button>
        </header>
        <form id="modal-registro" action="/register_vitales/" method="POST">
          {% csrf_token %}
          <section class="modal-card-body">
            <input type="text" id="idSeleccionado" name="idSeleccionado" hidden>
            <div class="field">
              <div class="columns">
                <div class="column">
                  <label class="label">Fecha</label>
                  <div class="control">
                    <input class="input is-link" type="date" name="date" id="date"
                    required />
                  </div>
                </div>
                <div class="column">
                  <label class="label">Hora</label>
                  <div class="control">
                    <input
                      class="input is-link"
                      type="time"
                      name="time"
                      id="time"
                      required
                    />
                  </div>
                </div>
                <div class="column">
                  <label class="label">Peso</label>
                  <div class="control">
                    <input
                      class="input is-link"
                      type="text"
                      name="peso"
                      id="peso"
                      required
                    />
                  </div>
                </div>
              </div>
  
              <div class="columns">
                <div class="column">
                  <label class="label">Pulso</label>
                  <div class="control">
                    <input
                      class="input is-link"
                      type="text"
                      name="pulso"
                      id="pulso"
                      required
                    />
                  </div>
                </div>
                <div class="column">
                  <label class="label">Presión Arterial</label>
                  <div class="control">
                    <input
                      class="input is-link"
                      type="text"
                      name="arterial"
                      id="arterial"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <label class="label">Frecuencia Cardiaca</label>
                  <div class="control">
                    <input
                      class="input is-link"
                      type="text"
                      name="cardiaca"
                      id="cardiaca"
                      required
                    />
                  </div>
                </div> 
                <div class="column">
                  <label class="label">Temperatura</label>
                  <div class="control">
                    <input
                      class="input is-link"
                      type="text"
                      name="temp"
                      id="temp"
                      required
                    />
                  </div>
                </div>
                <div class="column">
                  <label class="label">Glucosa</label>
                  <div class="control">
                    <input
                      class="input is-link"
                      type="text"
                      name="glucosa"
                      id="glucosa"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" type="submit">Guardar</button>
            <button class="button close-modal-button">Cancelar</button>
          </footer>
        </form>
      </div>
    </div>
  
  </section>
</section>
{% endblock %}
