{% extends "base.html" %} {% block title %}Perfil de usuario{% endblock %}
{% block content %}
    <div class="container is-fluid">
        <h1 class="title is-2 is-spaced">Perfil del Doctor</h1>
        <form   method="post">
            {% csrf_token %}
            {% for field in persona_form %}
                <div class="columns is-mobile">
                    <div class="column">
                        <label class="form-label">{{ field.label }}</label>
                        <!-- Chequea si estamos en modo de edición para establecer el campo como solo lectura o no -->
                        <input class="input is-link" type="{{ field.field.widget.input_type }}" class="form-control"
                               id="{{ field.id_for_label }}"
                               name="{{ field.html_name }}" value="{{ field.value }}"
                               {% if not editing %}readonly{% endif %}>
                    </div>

                </div>
            {% endfor %}
            {% for field in doctor_form %}
                <div class="columns is-mobile">
                    <div class="column">
                        <label class="form-label">{{ field.label }}</label>
                        <input class="input is-link" type="{{ field.field.widget.input_type }}" class="form-control"
                               id="{{ field.id_for_label }}"
                               name="{{ field.html_name }}" value="{{ field.value }}"
                               {% if not editing %}readonly{% endif %}>
                    </div>

                </div>
            {% endfor %}
            {% if editing %}
                <button class="button is-success" type="submit">Guardar Cambios</button>
                <a href="{% url 'perfil_doctor' %}" class="button close-modal-button">Cancelar</a>
            {% else %}
                <a href="?editar=true" class="button is-info">Editar</a>
            {% endif %}
        </form>
    </div>
{% endblock %}