{% extends "base.html" %} {% block title %}Citas{% endblock %}


{% block content %}
     <br />
    <div class="container is-fluid">
        <div class="buttons">
            <button class="button is-link modal-button" data-target="modal-patient">
                <i class="fas fa-plus" style="padding-right: 0.2rem"></i>
                Nueva Cita
            </button>
        </div>

        {#    <a href="{% url 'crear_cita' %}" class="btn btn-primary">Agregar Nueva Cita</a>#}
        <div class="container is-max-widescreen">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Paciente</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Detalle</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for cita in citas %}
                    <tr>
                    <td>{{ cita.id }}</td>
                        <td>{{ cita.id_doctor_paciente.id_paciente.id_persona.nombres }} {{ cita.id_doctor_paciente.id_paciente.id_persona.apellidos }}</td>
                        <td>{{ cita.fecha }}</td>
                        <td>{{ cita.hora }}</td>
                        <td>{{ cita.detalle }}</td>
                        <td>
                            <button type="button" class="button is-link modal-button"
                                    data-target="#modalEditarCita{{ cita.pk }}">
                                    <i class="fa-solid fa-pencil"></i>
                            </button>
                            <a href="{% url 'eliminar_cita' cita.pk %}" class="button is-danger">
                                 <i class="fa-solid fa-times"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% for cita in citas %}
        <!-- Modal para editar cita -->
        <div class="modal" id="modalEditarCita{{ cita.pk }}"
             aria-labelledby="modalEditarCitaLabel{{ cita.pk }}" aria-hidden="true">
            <div class="modal-card">
                <header class="modal-card-head">
                    <h5 class="modal-card-title" id="modalEditarCitaLabel{{ cita.pk }}">Editar Cita</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </header>
                <div class="modal-card-body">
                    <form method="post" action="{% url 'editar_cita' cita.pk %}">

                        {% csrf_token %}
                        <div class="field">
                            <label for="fecha">Fecha:</label>
                            <input type="date" class="form-control" id="fecha" name="fecha" required
                                   value="{{ cita.fecha }}">
                        </div>
                        <div class="field">
                            <label for="hora">Hora:</label>
                            <input type="time" class="form-control" id="hora" name="hora" required
                                   value="{{ cita.hora }}">
                        </div>
                        <div class="field">
                            <label for="detalle">Detalle:</label>
                            <input type="text" class="form-control" id="detalle" name="detalle" required
                                   value="{{ cita.detalle }}">
                        </div>
                        <button type="submit" class="button is-primary">Guardar Cambios</button>
                        <button type="button" class="button is-primary" data-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}


{% endblock %}
